{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http--equiv="X-UA-Compatible" content="ie=edhge">
    <!-- Propiedades OG -->
    <meta property="og:title" content="k1n0c0m | Marketing Digital y Comunicación Digital en Medellín">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://k1n0.herokuapp.com/">
    <meta property="og:image" content="https://k1n0.herokuapp.com/img/logo-intro-black.jpg">
    <meta property="og:image:secure_url" content="https://k1n0.herokuapp.com/img/logo-intro-black.jpg">
    <!--
    <meta property="og:image:width" content="851">
    <meta property="og:image:height" content="315"> -->
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:local" content="es_LA">
    <meta property="og:description"
        content="Marketing y Comunicación digital en Medellín | Comunicaciones y servicios web">
    <meta property="og:site_name" content="k1n0c0m">
    <meta property="fb:app_id" content="247122750125242">
    <!-- SEO -->
    <meta name="google-site-verification" content="Ljsin1yVzfgxv31NsdVzUlObTNPOn-RHEMomyfNrA1E">
    <meta name="description" content="Marketing y Comunicación digital en Medellín | Servicios web profesionales">
    <meta name="keywords"
        content="marketing digital, comunicación digital en Medellín, servicios web, desarrollo web, comunicaciones, publicidad, comunicacion digital, posicionamiento, seo, posicionamiento,
        paginas web, aplicaciones, apps, fotografía, video, animaciones, planes de comunicaciones, planes de comunicacion">
    <meta name="author" content="k1n0">
    <!-- Schema -->
    <script
        type="application/ld+json">{"@context": "https://schema.org","@type": "Organization","url": "https://k1n0.herokuapp.com/","contactPoint":[{"@type": "ContactPoint","telephone": "+57-313-588-7171","contactType": "customer service"}],"address": {"@type": "PostalAddress","addressLocality": "Medellín, Colombia","postalCode": "050024","streetAddress": "Calle 1B #66-94"},"email": "kinotrance@gmail.com","faxNumber": "( 33 1) 42 68 53 01","member": [{"@type": "Organization"}],"alumni": [{"@type": "Person","name": "Edison"}],"name": "k1n0c0m","telephone": "( 57 4) 313 588 7171"}</script>
    <!-- Título -->
    <title>Marketing y Comunicación Digital 📣 en Medellín</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="../static/img/favicon.ico">
    <!-- hreflang -->
    <link rel="alternate" hreflang="es-CO" href="..." />
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <style>
        @import url('/static/css/estilos.css');
    </style>
</head>

<body>

    <div class="nav__user">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <div class="container">
                        <img src="../static/img/logo-intro-dos.png" alt="" class="navbar__brand--img">
                        <p class="navbar__brand--txt">K1n0</p>
                    </div>
                </a>
                <div class="navbar-right">
                    <div class="navbar-social">
                        <a href="https://www.facebook.com/k1n0com/" rel="nofollow" target="_blank"
                            class="navbar-social--link icon-facebook"></a>
                        <a href="https://www.instagram.com/k1n0c0m/" rel="nofollow" target="_blank"
                            class="navbar-social--link icon-instagram"></a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="navbar-social--link icon-user-times"></a>
                        {% else %}
                        <a href="{% url 'signin' %}" class="navbar-social--link icon-user"></a>
                        {% endif %}
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">K1n0 C0m</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Más
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/en">Inglés</a></li>
                                    <li><a class="dropdown-item" href="/fr">Francés</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/dark">Modo Oscuro</a></li>
                                    {% if user.is_authenticated %}
                                    <li><a class="dropdown-item" href="{% url 'mis-servicios' %}">Mis Servicios</a></li>
                                    <li><a class="dropdown-item" href="{% url 'servicios_completados' %}">Mis Servicios
                                            Completos</a></li>
                                    <li><a class="dropdown-item" href="{% url 'solicitar' %}">Solicitar Servicio</a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                                    {% else %}
                                    <!-- <li><a class="dropdown-item" href="{% url 'registro' %}">Registro</a></li> -->
                                    <li><a class="dropdown-item" href="{% url 'signin' %}">Iniciar Sesión</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex mt-3" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-outline-danger icon-search" type="submit"></button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    {% block content %}
    {% endblock %}

    <div class="pres">
        <div class="container">
            <div class="pres__txt">¿Te interesa? Pídenos un presupuesto</div>
            <a href="{% url 'solicitud' %}" class="pres__link">
                Solicitar Presupuesto
            </a>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__content">
                <p class="footer__content--txt">
                    <a href="mailto:kinotrance@gmail.com" rel="nofollow" target="_blank"
                        class="footer__link">kinotrance@gmail.com</a> | Tel. <a href="tel:+573245288239" rel="nofollow"
                        target="_blank" class="footer__link">3245288239</a> | <a href="/politica-privacidad"
                        class="footer__link">Política de privacidad</a> | <a href="/politica-cookies"
                        class="footer__link">Política de
                        Coookies</a>
                </p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="/js/contador.js"></script>
    <script src="/js/modal.js"></script>
</body>

</html>