<head>
    <title>Contacto k1n0 c0m | Marketing y Comunicación Digital 📣</title>
</head>
{% extends 'base/base.html' %}

{% block content %}
<div class="inner">
    <img src="../static/img/inner/inner-ser.jpg" alt="" class="inner__bg">
</div>

<div class="inner__mov">
    <img src="../static/img/inner/inner-mov.jpg" alt="" class="inner__mov--img">
</div>

<nav class="migapan container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contacto</li>
    </ol>
</nav>

<div class="contacto container text-center">
    <div class="contacto__header">
        <h1 class="contacto__header--title">Contáctanos | K1n0 C0m</h1>
        <p class="contacto__header--subtitle">Encuéntranos fácilmente en <strong>Medellín</strong> o contáctanos en
            cualquiera de nuestras líneas de <strong>atención al cliente</strong>.</p>
    </div>
</div>

<div class="contacto__body">
    <h2 class="contacto__body--header text-center">K1n0 Comunicación Digital</h2>

    <div class="contacto__body--map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4014248913822!2d-75.59213818531428!3d6.21066879550403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44291b4753aee5%3A0x3bbb2ed377c2463d!2sK1n0.c0m!5e0!3m2!1ses-419!2sco!4v1673650812812!5m2!1ses-419!2sco"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="map">
            <div class="map__header">
                <h4 class="map__header--title">Encuéntranos en Medellín</h4>
                <a href="https://goo.gl/maps/RJCCKsqGUvTPebmu5" rel="nofollow" target="_blank"
                    class="map__header--subtitle">Calle 1B #66-94,
                    Guayabal.</a>
            </div>
            <div class="map__body">
                <div class="map__body--header">
                    <p class="body__header--title">
                        <strong>O trabajemos en la distancia</strong>
                    </p>
                    <div class="map__body--links">
                        <a href="https://wa.link/zjl0ly" rel="nofollow" target="_blank"
                            class="map__body--link icon-whatsapp">+57 324 528 82 39</a><br>
                        <a href="mailto:kinotrance@gmail.com" rel="nofollow" target="_blank"
                            class="map__body--link icon-mail">kinotrance@gmail.com</a>
                    </div>
                </div>
                <div class="map__body--social">
                    <div class="body__social--header">
                        <h4 class="social__header--title">Síguenos en Redes Sociales</h4>
                    </div>
                    <div class="body__social--body">
                        <a href="https://www.facebook.com/k1n0com/" rel="nofollow" target="_blank"
                            class="social__body--link icon-facebook"></a>
                        <a href="https://www.instagram.com/k1n0c0m/" rel="nofollow" target="_blank"
                            class="social__body--link icon-instagram"></a>
                        <a href="https://www.twitter.com/k1n0c0m/" rel="nofollow" target="_blank"
                            class="social__body--link icon-twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}