<head>
    <title>Cotización de Servicios k1n0 c0m | Marketing y Comunicación Digital 📣</title>
</head>
{% extends 'base.html' %}

{% block content %}
<div class="inner">
    <img src="../static/img/inner/inner-ser.jpg" alt="" class="inner__bg">
</div>

<div class="inner__mov">
    <img src="../static/img/rec/inner-mov.jpg" alt="" class="inner__mov--img">
</div>
<nav class="migapan container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cotización de Servicios</li>
    </ol>
</nav>
<div class="container m-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-header--title">Cotización de Servicios</h1>
        </div>
        {{error}}
        <form action="/mis-servicios/solicitar/" method="post" class="form container m-4">
        <div class="card-body">
            {% csrf_token %}
            {{form.as_p}}
        </div>
        <div class="card-footer">
            <button class="btn btn-danger">
                Enviar
            </button>
        </div>
        </form>
    </div>
</div>

{% endblock %}