{% extends 'base/base.html' %}

{% block content %}
<div class="banner">
    <div class="banner__content">
        <img src="../static/img/banner.jpg" alt="" class="banner__bg">
        <div class="banner__txt container">
            <p class="banner__txt--pg">
                <strong>Marketing y Comunicación<br>Digital</strong><br><strong class="hablemos">¿Hablamos?</strong>
            </p>

            <a href="https://wa.link/zjl0ly" rel="nofollow" target="_blank" class="icon-whatsapp banner__link">324 528 82 38</a> | <a
                href="mailto:kinotrance@gmail.com" rel="nofollow" target="_blank" class="icon-mail-alt banner__link">kinotrance@gmail.com</a>
            </p>
        </div>
        <div class="banner__bottom">
            <p class="banner__bottom--txt">Nos alegrará impulsar tu negocio</p>
        </div>
    </div>
</div>

<div class="banner__mov">
    <img src="../static/img/rec/banner-mov.jpg" alt="" class="banner__bg--mov">
    <div class="banner__txt container">
        <p class="banner__txt--pg">
            <strong><h1 class="title__header">Marketing y Comunicación<br>Digital</h1></strong><br><strong class="hablemos">¿Hablamos?</strong>
        </p>

        <a href="https://wa.link/zjl0ly" rel="nofollow" target="_blank" class="icon-whatsapp banner__link"></a>
        <a href="mailto:kinotrance@gmail.com" rel="nofollow" target="_blank" class="icon-mail-alt banner__link"></a>
        </p>
    </div>
</div>

<div class="high container">
    <div class="high__ser">
        <div class="ser__uno">
            <img src="../static/img/rec/diseno.png" alt="" class="high__ser--img">
            <div class="high__ser--content">
                <h4 class="ser__content--title">Diseño</h4>
                <p class="ser__content--txt">
                    Elaboramos piezas de <strong>diseño multi-formato y multi-plataforma</strong> en la más alta calidad.
                </p>
            </div>
        </div>

        <div class="ser__dos">
            <img src="../static/img/rec/mkt.png" alt="" class="high__ser--img">
            <div class="high__ser--content">
                <h4 class="ser__content--title">Marketing</h4>
                <p class="ser__content--txt">
                    Encontramos las estartegias más inteligentes de <strong>marketing digital y tradicional</strong> para tu negocio.
                </p>
            </div>
        </div>

        <div class="ser__tres">
            <img src="../static/img/rec/web-apps.png" alt="" class="high__ser--img">
            <div class="high__ser--content">
                <h4 class="ser__content--title">Desarrollo Web/App</h4>
                <p class="ser__content--txt">
                    Desarrollamos una <strong>herramienta inteligente y de última generación</strong> para el alcance de nuevos públicos.
                </p>
            </div>
        </div>

        <div class="ser__cuatro">
            <img src="../static/img/rec/seo.png" alt="" class="high__ser--img">
            <div class="high__ser--content">
                <h4 class="ser__content--title">SEO/SEM</h4>
                <p class="ser__content--txt">
                    Encontramos la estrategia de <strong>posicionamiento web</strong> que más se ajusta a los objetivos de tu compañía.
                </p>
            </div>
        </div>
    </div>

    <div class="high__link">
        <a href="/servicios" class="high__link--services">Conoce todos nuestros servicios</a>
    </div>
</div>

<div class="partners">
    <div class="partners__header container text-center">
        <h2 class="partners__header--title">
            Nuestros clientes nos certifican
        </h2>
        <p class="partners__header--txt">
            Conoce algunos de nuestros trabajos de Marketing y Comunicación Digital en Medellín.
        </p>
    </div>
    <div class="partners__body">
        <a href="https://www.teacompano.com.co" rel="nofollow" target="_blank" class="partners__body--section">
            <img src="../static/img/rec/teacompano-logo.jpg" alt="" class="pb__section--img">
            <div class="pb__section--txt">
                <div class="section__txt">
                    <h3 class="section__txt--title">Teacompaño</h3>
                    <p class="section__txt--content">
                        Cuidados Integrales en Salud
                    </p>
                </div>
            </div>
        </a>

        <a href="https://www.confortvital.com.co/" rel="nofollow" target="_blank" class="partners__body--section">
            <img src="../static/img/rec/cv-logo.jpg" alt="" class="pb__section--img">
            <div class="pb__section--txt">
                <div class="section__txt">
                    <h3 class="section__txt--title">Confort Vitak</h3>
                    <p class="section__txt--content">
                        Colchones y mobiliario
                    </p>
                </div>
            </div>
        </a>

        <a href="https://www.asesoriasjuridicasmed.com/" rel="nofollow" target="_blank" class="partners__body--section">
            <img src="../static/img/rec/ajm-logo.jpg" alt="" class="pb__section--img">
            <div class="pb__section--txt">
                <div class="section__txt">
                    <h3 class="section__txt--title">Asesorías Jurídicas Medellín</h3>
                    <p class="section__txt--content">
                        Asesoría y representación legal
                    </p>
                </div>
            </div>
        </a>

        <a href="https://www.facebook.com/farsalicolombia/" rel="nofollow" target="_blank" class="partners__body--section">
            <img src="../static/img/rec/farsali-logo.jpg" alt="" class="pb__section--img">
            <div class="pb__section--txt">
                <div class="section__txt">
                    <h3 class="section__txt--title">Farsáli Colombia</h3>
                    <p class="section__txt--content">
                        Súper Mayorista de Cosméticos
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="partners__footer">
        <a href="https://bit.ly/3ILNYYj" rel="nofollow" target="_blank" class="partners__footer--link">Portafolio de servicios PDF</a>
    </div>
</div>

<div class="per container">
    <img src="../static/img/rec/pauta-rs.png" alt="" class="per__img">
    <div class="per__txt">
        <h3 class="per__txt--title">Estrategias a tu medida</h3>
        <p class="per__txt--cont">
            Planificamos y ejecutamos estrategias a la medida de tu negocio y de tu nicho de mercado, impactando
            directamente en el interés de tus públicos para alcanzar tus objetivos de mercado ¡En tiempo récord!
        </p>
        <a href="/contacto" class="per__txt--link">¡Contáctanos Ahora!</a>
    </div>
</div>

{% endblock %}