{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <h1>Mis servicios k1n0c0m</h1>
    <p class="container"><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat deleniti odit assumenda
            deserunt aliquam ab maxime dicta dolor culpa, quibusdam ipsam mollitia rerum recusandae in earum temporibus
            incidunt ipsa tenetur.</span><span>Recusandae consequatur maiores rem nisi, eaque facere autem odio
            similique
            saepe ea? Exercitationem cupiditate ex atque hic? Vel sapiente sit ullam perferendis, dignissimos aut
            dolores
            unde quisquam architecto modi pariatur?</span></p>
</div>
{% endblock %}