{% extends 'base/base.html' %}

{% block content %}
<div class="servicios container">
    <div class="servicios-header text-center">
        <h1 class="servicios-header--title">Tareas Pendientes</h1>
    </div>
    <div class="servicios-body">
        <div class="servicios-item container">
            <ul class="servicio-list">
                {% for servicio in servicios %}
                <li class="servicio-list--item">
                    {% if servicio.important %}
                    <a href="{% url 'servicio_detalle' servicio.id %}" class="list__item--link">{{servicio.title}}</a>
                    {% else %}
                    <p class="title__important"><strong>{{servicio.title}}</strong></p>
                    {% endif %}
                    <p class="servicio__description">{{servicio.description}}</p>
                    <p class="servicio__author"><strong>By: </strong>{{servicio.user.username}}</p>
                    <p class="servicio__date">{{servicio.datecompleted|date:'M j Y:i'}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}