<head>
    <title>Servicios k1n0 c0m | Marketing y Comunicación Digital 📣</title>
</head>
{% extends 'base.html' %}

{% block content %}

<div class="inner">
    <img src="../static/img/inner/inner-ser.jpg" alt="" class="inner__bg">
</div>

<div class="inner__mov">
    <img src="../static/img/rec/inner-mov.jpg" alt="" class="inner__mov--img">
</div>

<nav class="migapan container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Servicios</li>
    </ol>
</nav>

<div class="ser container text-center">
    <div class="ser__header">
        <h1 class="ser__header--title">Servicios de Marketing y Comunicación Digital | K1n0 C0m</h1>
        <p class="ser__header--subtitle">
            Conoce nuestro catálogo de servicios de <strong>Marketing y Comunicación Digital en Medellín</strong> y a
            Distancia
        </p>
    </div>

    <div class="ser__body">
        <div class="ser__section">
            <div class="section__header">
                <h3 class="section__header--title">Diseño</h3>
            </div>
            <div class="section__body">
                <a href="{% url 'diseno' %}" class="section__body--link">
                    <img src="../static/img/ser/diseno.jpg" alt="" class="section__body--image">
                </a>
            </div>
            <div class="section__footer">
                <p class="section__footer--txt">Diseño original y de punta para <strong>web, software, marca</strong> y
                    cualquier idea creativa que tengas en mente.</p>
                <a href="{% url 'diseno' %}" class="section__footer--link">Ver más</a>
            </div>
        </div>

        <div class="ser__section">
            <div class="section__header">
                <h3 class="section__header--title">Desarrollo Web/App</h3>
            </div>
            <div class="section__body">
                <a href="/servicios/desarrollo" class="section__body--link">
                    <img src="../static/img/ser/develop.jpg" alt="" class="section__body--image">
                </a>
            </div>
            <div class="section__footer">
                <p class="section__footer--txt">Incursiona en las nuevas tecnologías y medios de mercadeo con un nuevo
                    <strong>Sitio Web o con una App</strong>
                </p>
                <a href="/servicios/desarrollo" class="section__footer--link">Ver más</a>
            </div>
        </div>

        <div class="ser__section">
            <div class="section__header">
                <h3 class="section__header--title">Marketing</h3>
            </div>
            <div class="section__body">
                <a href="/servicios/marketing" class="section__body--link">
                    <img src="../static/img/ser/marketing.jpg" alt="" class="section__body--image">
                </a>
            </div>
            <div class="section__footer">
                <p class="section__footer--txt">Estrategias inteligentes en <strong>Marketing Digital y
                        Tradicional</strong> para llevar tu negocio a otro nivel</p>
                <a href="/servicios/marketing" class="section__footer--link">Ver más</a>
            </div>
        </div>

    </div>

    <div class="ser__body">
        <div class="ser__section">
            <div class="section__header">
                <h3 class="section__header--title">Fotografía y Video</h3>
            </div>
            <div class="section__body">
                <a href="/servicios/produccion" class="section__body--link">
                    <img src="../static/img/ser/edicion.jpg" alt="" class="section__body--image">
                </a>
            </div>
            <div class="section__footer">
                <p class="section__footer--txt">
                    Desarrollo de <strong>contenido multimedia</strong> con efectos y musicalidad
                    originales.
                </p>
                <a href="/servicios/produccion" class="section__footer--link">Ver más</a>
            </div>
        </div>

        <div class="ser__section">
            <div class="section__header">
                <h3 class="section__header--title">Cubrimiento de eventos</h3>
            </div>
            <div class="section__body">
                <a href="/servicios/eventos" class="section__body--link">
                    <img src="../static/img/ser/eventos.jpg" alt="" class="section__body--image">
                </a>
            </div>
            <div class="section__footer">
                <p class="section__footer--txt">
                    Cubrimos eventos sociales, corporativos o de cualquier índole con <strong>personal experimentado y
                        alta teconología</strong>.
                </p>
                <a href="/servicios/eventos" class="section__footer--link">Ver más</a>
            </div>
        </div>

        <div class="ser__section">
            <div class="section__header">
                <h3 class="section__header--title">Tecnología Blockchain</h3>
            </div>
            <div class="section__body">
                <a href="/servicios/blockchain" class="section__body--link">
                    <img src="../static/img/ser/blockchain.jpg" alt="" class="section__body--image">
                </a>
            </div>
            <div class="section__footer">
                <p class="section__footer--txt">
                    Descubre los secretos detrás de la <strong>tecnología blockchain y el trading con
                        criptoactivos</strong>.
                </p>
                <a href="/servicios/blockchain" class="section__footer--link">Ver más</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}