{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http--equiv="X-UA-Compatible" content="ie=edhge">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QKSZM7MSJM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QKSZM7MSJM');
    </script>
    <!-- API de Google -->
    <!-- Propiedades OG -->
    <meta property="og:title" content="k1n0c0m | Marketing Digital y Comunicación Digital en Medellín">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://k1n0.herokuapp.com/">
    <meta property="og:image" content="https://k1n0.herokuapp.com/static/img/logo-intro-black.jpg">
    <meta property="og:image:secure_url" content="https://k1n0.herokuapp.com/static/img/logo-intro-black.jpg">
    <!--
    <meta property="og:image:width" content="851">
    <meta property="og:image:height" content="315"> -->
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:local" content="es_LA">
    <meta property="og:description"
        content="Marketing y Comunicación digital en Medellín | Comunicaciones y servicios web">
    <meta property="og:site_name" content="k1n0c0m">
    <meta property="fb:app_id" content="247122750125242">
    <!-- SEO -->
    <meta name="google-site-verification" content="Ljsin1yVzfgxv31NsdVzUlObTNPOn-RHEMomyfNrA1E">
    <meta name="description" content="Marketing y Comunicación digital en Medellín | Servicios web profesionales">
    <meta name="keywords"
        content="marketing digital, comunicación digital en Medellín, servicios web, desarrollo web, comunicaciones, publicidad, comunicacion digital, posicionamiento, seo, posicionamiento,
        paginas web, aplicaciones, apps, fotografía, video, animaciones, planes de comunicaciones, planes de comunicacion">
    <meta name="author" content="k1n0">
    <!-- Schema -->
    <script
        type="application/ld+json">{"@context": "https://schema.org","@type": "Organization","url": "https://k1n0.herokuapp.com/","contactPoint":[{"@type": "ContactPoint","telephone": "+57-313-588-7171","contactType": "customer service"}],"address": {"@type": "PostalAddress","addressLocality": "Medellín, Colombia","postalCode": "050024","streetAddress": "Calle 1B #66-94"},"email": "kinotrance@gmail.com","faxNumber": "( 33 1) 42 68 53 01","member": [{"@type": "Organization"}],"alumni": [{"@type": "Person","name": "Edison"}],"name": "k1n0c0m","telephone": "( 57 4) 313 588 7171"}</script>
    <!-- Título -->
    <title>k1n0 c0m | Marketing y Comunicación Digital 📣 en Medellín</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="../static/img/favicon.ico">
    <!-- hreflang -->
    <link rel="alternate" hreflang="es-CO" href="..." />
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>

    {% include 'partials/nav.html' %}

    {% block content %}
    {% endblock %}

    {% include 'partials/pres.html' %}
    {% include 'partials/footer.html' %}

    {% include 'partials/scripts.html' %}
</body>

</html>