<head>
    <title>Servicios de Marketing k1n0 c0m | Marketing y Comunicación Digital 📣</title>
</head>
{% extends '../base/base.html' %}

{% block content %}

<div class="inner">
    <img src="/static/img/inner/inner-ser.jpg" alt="" class="inner__bg">
</div>

<div class="inner__mov">
    <img src="/static/img/rec/inner-mov.jpg" alt="" class="inner__mov--img">
</div>

<nav class="migapan container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'servicios' %}">Servicios</a></li>
        <li class="breadcrumb-item active" aria-current="page">Marketing</li>
    </ol>
</nav>

<div class="servicio__container container">
    <div class="servicio__header text-center">
        <h1 class="servicio__title">Servicios de Marketing k1n0 c0m | En Medellín</h1>
    </div>

    <div class="servicio__body container">
        <div class="container">
            <ul class="servicio__list">
                <li class="servicio__item">
                    <div class="servicio__link">
                        <h3 class="servicio__link--title">Diagnóstico General en Marketing</h3>
                        <p class="servicio__link--txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                            dolore hic laborum eveniet dolorum ipsam voluptatum aut, mollitia laboriosam magni
                            voluptatibus! Exercitationem illum autem suscipit tempore dicta soluta! Aspernatur, vitae.
                        </p>
                        <a href="{% url 'solicitud' %}" class="btn btn-dark">Cotizar</a>
                    </div>
                    <img src="/static/img/ser/develop.jpg" alt="" class="servicio__img">
                </li>

                <li class="servicio__item">
                    <div class="servicio__link">
                        <h3 class="servicio__link--title">Estudio de mercado</h3>
                        <p class="servicio__link--txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                            dolore hic laborum eveniet dolorum ipsam voluptatum aut, mollitia laboriosam magni
                            voluptatibus! Exercitationem illum autem suscipit tempore dicta soluta! Aspernatur, vitae.
                        </p>
                        <a href="{% url 'solicitud' %}" class="btn btn-dark">Cotizar</a>
                    </div>
                    <img src="/static/img/ser/develop.jpg" alt="" class="servicio__img">
                </li>

                <li class="servicio__item">
                    <div class="servicio__link">
                        <h3 class="servicio__link--title">Plan de Comunicaciones</h3>
                        <p class="servicio__link--txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                            dolore hic laborum eveniet dolorum ipsam voluptatum aut, mollitia laboriosam magni
                            voluptatibus! Exercitationem illum autem suscipit tempore dicta soluta! Aspernatur, vitae.
                        </p>
                        <a href="{% url 'solicitud' %}" class="btn btn-dark">Cotizar</a>
                    </div>
                    <img src="/static/img/ser/develop.jpg" alt="" class="servicio__img">
                </li>

                <li class="servicio__item">
                    <div class="servicio__link">
                        <h3 class="servicio__link--title">Diagnóstico SEO/SEM</h3>
                        <p class="servicio__link--txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                            dolore hic laborum eveniet dolorum ipsam voluptatum aut, mollitia laboriosam magni
                            voluptatibus! Exercitationem illum autem suscipit tempore dicta soluta! Aspernatur, vitae.
                        </p>
                        <a href="{% url 'solicitud' %}" class="btn btn-dark">Cotizar</a>
                    </div>
                    <img src="/static/img/ser/develop.jpg" alt="" class="servicio__img">
                </li>

                <li class="servicio__item">
                    <div class="servicio__link">
                        <h3 class="servicio__link--title">Administración de redes tradicionales y digitales</h3>
                        <p class="servicio__link--txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                            dolore hic laborum eveniet dolorum ipsam voluptatum aut, mollitia laboriosam magni
                            voluptatibus! Exercitationem illum autem suscipit tempore dicta soluta! Aspernatur, vitae.
                        </p>
                        <a href="{% url 'solicitud' %}" class="btn btn-dark">Cotizar</a>
                    </div>
                    <img src="/static/img/ser/develop.jpg" alt="" class="servicio__img">
                </li>

                <li class="servicio__item">
                    <div class="servicio__link">
                        <h3 class="servicio__link--title">Manejo de públicos y audiencias</h3>
                        <p class="servicio__link--txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                            dolore hic laborum eveniet dolorum ipsam voluptatum aut, mollitia laboriosam magni
                            voluptatibus! Exercitationem illum autem suscipit tempore dicta soluta! Aspernatur, vitae.
                        </p>
                        <a href="{% url 'solicitud' %}" class="btn btn-dark">Cotizar</a>
                    </div>
                    <img src="/static/img/ser/develop.jpg" alt="" class="servicio__img">
                </li>

                <li class="servicio__item">
                    <div class="servicio__link">
                        <h3 class="servicio__link--title">Asesoramiento en Marketing y Comunicación Digital</h3>
                        <p class="servicio__link--txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui
                            dolore hic laborum eveniet dolorum ipsam voluptatum aut, mollitia laboriosam magni
                            voluptatibus! Exercitationem illum autem suscipit tempore dicta soluta! Aspernatur, vitae.
                        </p>
                        <a href="{% url 'solicitud' %}" class="btn btn-dark">Cotizar</a>
                    </div>
                    <img src="/static/img/ser/develop.jpg" alt="" class="servicio__img">
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}