.footer {
    padding: 20px;
    text-align: center;
    background: $Gr;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 14px;

    color: $Bl;

    .footer__content {
        display: flex;
        justify-content: center;

        .footer__content--txt {
            margin: 0px;
            
            .footer__link {
                color: $Bl;
                text-decoration: none;
                font-size: 14px;

                &:hover {
                    transition: all .6s;
                    color: $Rd;
                }
            }
        }
    }
}