body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-image: url('/img/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

.banner {
    text-align: center;

    .banner__content {
        .banner__bg {
            width: 100%;
        }

        .banner__txt {
            margin-top: -300px;
            color: $Bl;

            .banner__txt--pg {
                font-size: 50px;

                .hablemos {
                    font-size: 26px;
                }
            }

            .banner__link {
                color: $Bl;
                text-decoration: none;

                &:hover {
                    transition: all .6s;
                    color: $Rd;
                }
            }
        }

        .banner__bottom {
            margin-top: 34px;
            width: 100%;
            height: 80px;
            font-size: 28px;
            background: $Rd;
            color: $Bl;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px;

            .banner__bottom--txt {
                margin-bottom: 0px;
            }
        }
    }
}

.banner__mov {
    display: none;
}

.high {
    margin-top: 120px;
    margin-bottom: 120px;

    .high__ser {
        display: flex;
        justify-content: space-around;
        text-align: center;
        position: static;
        height: 260px;
        margin-bottom: 60px;

        .ser__uno,
        .ser__dos,
        .ser__tres,
        .ser__cuatro {
            width: 24%;
            position: static;

            .high__ser--img {
                height: 126px;
                margin: 10px;
                cursor: pointer;
            }

            .high__ser--content {
                .ser__content--title {
                    display: block;
                }

                .ser__content--txt {
                    opacity: 0%;
                }
            }

            &:hover {
                transition: all .6s;

                .high__ser--img {
                    opacity: 90%;
                    height: 128px;
                }

                .high__ser--content {
                    transition: all .6s;

                    .ser__content--txt {
                        transition: all .6s;
                        opacity: 100%;
                    }
                }
            }
        }
    }

    .high__link {
        display: flex;
        justify-content: center;

        .high__link--services {
            padding: 10px;
            background: $Gr;
            color: $Bl;
            text-decoration: none;
            border-radius: 4px;

            &:hover {
                transition: all .6s;
                background: $Rd;
            }
        }
    }
}

.partners {
    margin-top: 80px;

    .partners__header {
        margin-bottom: 40px;
    }

    .partners__body {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;

        .partners__body--section {
            width: 24, 9%;
            text-decoration: none;

            .pb__section--img {
                width: 100%;
                cursor: pointer;
            }

            .pb__section--txt {
                color: $Bl;
                font-size: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .section__txt {
                    background: $Rdo;
                    padding: 84px 0px 84px 0px;
                    margin-top: -259px;
                    display: block;
                    align-items: center;
                    width: 100%;
                    opacity: 0%;
                }
            }

            &:hover {
                transition: all .6s;

                .pb__section--txt,
                .section__txt {
                    transition: all .6s;
                    opacity: 100%;
                }
            }
        }
    }

    .partners__footer {
        display: flex;
        justify-content: center;

        .partners__footer--link {
            padding: 10px;
            margin-top: 60px;
            background: $Gr;
            color: $Bl;
            text-decoration: none;
            border-radius: 4px;

            &:hover {
                transition: all .6s;
                background: $Rd;
            }
        }
    }
}

.per {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .per__img {
        width: 40%;
    }

    .per__txt {
        width: 90%;
        margin: 40px;
        padding: 20px;

        .per__txt--cont {
            margin-bottom: 40px;
        }

        .per__txt--link {
            padding: 10px;
            margin-top: 90px;
            background: $Gr;
            color: $Bl;
            text-decoration: none;
            border-radius: 4px;

            &:hover {
                transition: all .6s;
                background: $Rd;
            }
        }
    }
}

.inner {
    display: block;

    .inner__bg {
        width: 100%;
    }
}

.inner__mov {
    display: none;
}

.migapan {
    margin-top: 40px;

    .breadcrumb {
        .breadcrumb-item {
            a {
                color: $Gr;
                text-decoration: none;

                &:hover {
                    transition: all .6s;
                    color: $Rd;
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 820px) {

    .inner {
        display: none;
    }

    .inner__mov {
        display: block;

        .inner__mov--img {
            width: 100%;
        }
    }

    .banner {
        display: none;
    }

    .banner__mov {
        display: block;
        text-align: center;

        .banner__bg--mov {
            width: 100%;
        }

        .banner__txt {
            margin-top: -440px;
            color: $Bl;

            .banner__txt--pg {
                font-size: 44px;

                .hablemos {
                    font-size: 16px;
                }
            }

            .banner__link {
                color: $Bl;
                text-decoration: none;
                font-size: 50px;
            }
        }
    }

    .high {
        width: 80%;
        margin-top: 120px;
        height: 1200px;

        .high__ser {
            display: block;

            .ser__uno,
            .ser__dos,
            .ser__tres,
            .ser__cuatro {
                width: 100%;

                .high__ser--img {
                    height: 126px;
                    margin: 10px;
                }
            }
        }

        .high__link {
            margin-top: 780px;
        }
    }

    .partners {
        .partners__body {
            display: block;
        }
    }

    .per {
        display: block;

        .per__txt {
            margin: 0px;
        }

        .per__img,
        .per__txt {
            width: 100%;
        }
    }
}