.pres {
    margin-top: 60px;
    background: $Rd;
    height: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: $Bl;
    font-size: 20px;

    .container {
        display: flex;
        justify-content: center;

        .pres__txt {
            align-items: center;
            display: flex;
        }

        .pres__link {
            color: $Bl;
            background: $Gr;
            text-decoration: none;
            border-radius: 5px;
            padding: 10px;
            margin-left: 40px;

            &:hover {
                transition: all .6s;
                color: $Rd;
            }
        }

        .modal {
            .form__pres--body {
                text-align: left;

                .form-group {
                    margin: 20px;
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 820px) {
    .pres {
        height: 180px;

        .container {
            display: block;

            .pres__txt {
                margin-bottom: 20px;
            }

            .pres__link {
                margin-left: 0px;
                margin-top: 20px;
            }
        }
    }
}