.ser {
    .ser__header {
        margin-top: -220px;
        margin-bottom: 220px;
        color: $Bl;

        .ser__header--title {
            font-weight: bold;
        }
    }

    .ser__body {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        .ser__section {
            padding: 12px;
            width: 32%;
            margin: 12px;

            .section__header {
                font-weight: bold;
            }

            .section__body {
                position: static;

                .section__body--link {
                    position: static;

                    .section__body--image {
                        width: 100%;
                        position: static;
                        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

                        &:hover {
                            transition: all .6s;
                            opacity: 98%;
                        }
                    }
                }
            }

            .section__footer {
                margin-top: 0px;
                padding: 4px;
                opacity: 0%;

                .section__footer--txt {
                    margin: 10px;
                    padding: 10px;
                }

                .section__footer--link {
                    margin-top: 0px;
                    padding: 8px;
                    background: $Gr;
                    border-radius: 5px;
                    color: $Bl;
                    text-decoration: none;

                    &:hover {
                        transition: all .6s;
                        background: $Rd;
                    }
                }
            }

            &:hover {
                transition: all .6s;

                .section__footer {
                    transition: all .6s;
                    opacity: 100%;
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 820px) {
    .ser {
        width: 98%;
        margin: 2px;

        .ser__header {
            margin-top: -420px;
        }

        .ser__body {
            display: block;

            .ser__section {
                width: 100%;
                margin: 10px 10px 10px 0px;

                .section__footer {
                    opacity: 100%;
                }
            }
        }
    }
}